* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 6.5rem;
}
h2{
  text-transform: uppercase;
  font-size: 6rem;
}
h3{
  font-size: 5.5rem;
}
h4{
  font-size: 5rem;
}
h5{
  font-size: 4.5rem;
}
h6{
  font-size: 3rem;
}

a {
  text-decoration: none;
}

p{
  margin-bottom: 3rem;
}

#scrowbar-table{
  overflow: hidden;
  overflow-x: auto;
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--light-gray-color);
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table th, table tfoot {
  background-color: var(--light-gray-color);
}
